<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Adicionar Usuário</title>
</head>
<body>
    <h1>Adicionar usuário</h1>
    
    <form action="/users/save" method="POST">
        <div>
            <label for="name">Nome:</label><br>
            <input type="text" id="name" name="name" placeholder="Digite um nome" required>
        </div><br>
        <div>
            <label for="age">Idade:</label><br>
            <input type="number" id="age" name="age" placeholder="Digite a idade" required>
        </div><br>
        <div>
            <button type="submit">Cadastrar</button>
        </div>
    </form>
    
    <br>
    <a href="/">Voltar para Dashboard</a>
</body>
</html>